@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Light.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Semibold.ttf');
  font-style: medium;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Extrabld.ttf');
  font-style: medium;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova/ProximaNova-Black.ttf');
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'ProximaNova';
  box-sizing: border-box;
}
